<h1>Welcome</h1>
<%if customer_signed_in? %>
    <h1> <%=current_customer.email %> </h1>
    <%= link_to "<button>SignOutt</button>".html_safe, destroy_customer_session_path, :method => :delete, :id=>"sign_out_btn", :class=>"inbox-sf-add-btn tip" %>
<%else%>
    <%= link_to "<button>SignUp</button>".html_safe, new_customer_registration_path, :id=>"sign_up_btn", :class=>"inbox-sf-add-btn tip" %>
    <%= link_to "<button>SignIn</button>".html_safe, new_customer_session_path, :id=>"sign_in_btn", :class=>"inbox-sf-add-btn tip" %>
<%end%>
